.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
} 

/* Conteúdo --------------------*/

.container .nav{flex-wrap: wrap;
    display: flex;
}

.conteudoPrincipal-cursos {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 1%;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    height: 100px;
    background-color: #FFF;
    text-align: center;
    margin: 1%;
    transition: .3s;
    box-shadow: 2px 2px 2px #CCC;
    position: relative;
    width: 21%;
    
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

/*Rodapé -----------------------*/

.rodapePrincipal-patrocinadores .container {
    display: flex;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    height: 260px;
}